.repos-info {
    display: flex;
    flex-direction: column;

    border-start-start-radius: 5px;
    border-start-end-radius: 5px;

    padding: 15px;
    width: 100%;
}

.repos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 15px;

    border-start-start-radius: 0px;
    border-start-end-radius: 0px;

    border-end-start-radius: 5px;
    border-end-end-radius: 5px;

    margin: 0px;
    background-color: #252525;
}